#Django gitignore

cache/*
*.egg-info
*.pot
*.py[co]
__pycache__
*/__pycache__
*/__pyca*
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
.coverage
build/
tests/report/
cache/
#*/dev.log
#*/prod.log
*/*.log


#*.sqlite3
secret_key.txt
settings/production.py
settings/*
staticfiles/
envpython3/
htmlcov/
description.todo
python3env
hello*.json
*journa*
cstmc-CSV-en.csv
utils/cstmc-CSV-en.csv
utils/artefacts.json
artefacts.json
media\*
media/
.coverage*

mockup/*
totrash/*