#Django gitignore

cache/*
*.egg-info
*.pot
*.py[co]
__pycache__
*/__pycache__
*/__pyca*
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
.coverage
build/
tests/report/
cache/
#*/dev.log
#*/prod.log
*/*.log


#*.sqlite3
secret_key.txt
staticfiles/
envpython3/
htmlcov/
description.todo
python3env
hello*.json
*journa*
#download tuto video
*.mp4
.coverage*

mockup/*
totrash/*