{% load i18n %}
{% load staticfiles %}
{% load search_form_url %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Ottawa City Job list. A list of all jobs available in Ottawa City, Emplois à la ville d'Ottawa, Jobs Available in the city of Ottawa, Emplois disponible à la ville D'Ottawa">
  <meta name="keywords" content="Ottawa city jobs, Ottawa emplois, Open Data jobs, Open data apps, Données ouvertes">
  <meta name="author" content="Guinsly Mondésir">
  <meta name="author" content="Mongex.info">
  <meta name='subject' content="">

  {% ifequal LANGUAGE_CODE "en" %}
    <title>Ottawa: Jobs with the City - Open Data</title>
  {% else %}
    <title>Emplois à la ville d'Ottawa - Données Ouvertes</title>
  {% endifequal %}

  <meta name='copyright' content='@mongexserv'>
  <meta name='language' content='EN, FR'>
  <link href="http://data.ottawa.ca/img/favicon.ico" rel="icon" type="image/x-icon"/>


<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha256-Av2lUNJFz7FqxLquvIFyxyCQA/VHUFna3onVy+5jUBM= sha512-zyqATyziDoUzMiMR8EAD3c5Ye55I2V3K7GcmJDHbL49cXzFQCEA6flSKqxEzwxXqq73/M4A0jKFFJ/ysEhbExQ==" crossorigin="anonymous">

<!-- Latest compiled and minified CSS Bootstrap select -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/css/bootstrap-select.min.css">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
<!-- Jquery 2.0.1-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/js/bootstrap-select.min.js"></script>

<!-- D3.js for Stats visualisation -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Miro June</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

      <div class="jumbotron">
        <video id="video-background" preload muted autoplay loop>
          <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
        </video>
        <div class="container">
          Hello World Wocka Wocka
        </div>
      </div>


    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->

    <div class="container">
      <div class="row">
        <section class="Signature"></section>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <section class="paintingsButton"></section>
      </div>
    </div>

<!--
             _       _        _____ _                   
            (_)     | |      /  ___| |                  
 _ __   __ _ _ _ __ | |_ ___ \ `--.| |__   _____      __
| '_ \ / _` | | '_ \| __/ __| `--. \ '_ \ / _ \ \ /\ / /
| |_) | (_| | | | | | |_\__ \/\__/ / | | | (_) \ V  V / 
| .__/ \__,_|_|_| |_|\__|___/\____/|_| |_|\___/ \_/\_/  
| |                                                     
|_|                                                     
-->

<!--
  ___  _                 _   
 / _ \| |               | |  
/ /_\ \ |__   ___  _   _| |_ 
|  _  | '_ \ / _ \| | | | __|
| | | | |_) | (_) | |_| | |_ 
\_| |_/_.__/ \___/ \__,_|\__|

-->


    <div class="container">
      <div class="row">
        <section class="Contact"></section>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <section class="Thanks"></section>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <section class="paintingsList"></section>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <section class="paintingsIsotope"></section>
      </div>
    </div>


    <div class="container">
    </div>



<!--

                 _             _  ______                   
                | |           | | |  ___|                  
  ___ ___  _ __ | |_ __ _  ___| |_| |_ ___  _ __ _ __ ___  
 / __/ _ \| '_ \| __/ _` |/ __| __|  _/ _ \| '__| '_ ` _ \ 
| (_| (_) | | | | || (_| | (__| |_| || (_) | |  | | | | | |
 \___\___/|_| |_|\__\__,_|\___|\__\_| \___/|_|  |_| |_| |_|
                                                           
                                                           

-->

<!--
@include('frontend.partials.paintings')
@include('frontend.partials.paintings2')
@include('frontend.partials.paintings3')
-->


<!--
                _       _______          _            
               (_)     | |  ___|        | |           
 ___  ___   ___ _  __ _| | |_ ___   ___ | |_ ___ _ __ 
/ __|/ _ \ / __| |/ _` | |  _/ _ \ / _ \| __/ _ \ '__|
\__ \ (_) | (__| | (_| | | || (_) | (_) | ||  __/ |   
|___/\___/ \___|_|\__,_|_\_| \___/ \___/ \__\___|_|   
-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
</html>
