{% extends "elearning/base.html" %}
{% load humanize %}
{% load static %}
{% load registration %}

  {% block content %}

<div class="jumbotron">
  <h1>Detail</h1>
</div>
<div class="container">

<div class="row">

      <div class="col-md-4">
        <div class="column"> 
          
          <!-- Post-->
          <div class="post-module"> 
            <!-- Thumbnail-->
            <div class="thumbnail">

              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg" class="img-responsive" alt=""> </div>
            <!-- Post Content-->
            <div class="post-content">
            <!--
              <div class="category">Catagories</div>
              -->
              <h1 class="title">
                <a href="">
                  {{ object.title }}
                </a>
              </h1>
              <h2 class="sub_title">by 
              <a href="{% url 'elearning:userprofile_detail' course.author.profile.slug %}">
                              {{ course.author.profile.fullname }}
              </a>
              </h2>
              <p>
                $ {{ object.price }} <br>
                 {{ object.number_of_minutes }} <br>
              </p>

              <div class="post-meta">
                <span class="timestamp">
                  <i class="fa fa-clock-">o</i> 6 mins ago
                </span>
                <span class="comments">
                  <i class="fa fa-comments"></i>
                  <a href="#"> 39 comments</a>
                </span>
                <span class="comments" style="padding-left:10px">
                  <i class="fa fa-thumbs-o-up"></i>
                   9
                </span>
                <span class="comments" style="padding-left:10px">
                  <i class="fa fa-thumbs-o-down"></i>
                   3
                </span>

      <table class="table">
        <tr>
          <td>
                <form class="right" method="POST" action="{% url 'course_delete' object.id %}">
         {% csrf_token %}<input class="btn btn-danger red darken-2" type="submit" value="DELETE">
      </form>  
          </td>
          <td>
             <a class="btn btn-primary right" href="{% url 'course_update' object.id %}">Update</a>
          </td>
          <td>
            <a class="btn btn-default right" href="{% url 'course_create' %}">Create</a>
          </td>
        </tr>
      </table>

      <table class="table">
        <tr>
          <td>
          <form class="right" method="POST" action="{% url 'register_and_unregister_create' object.id %}">
         {% csrf_token %}
         <input type="hidden" name="course_id" value="{{object.id}}">
         <input class="btn btn-primary red darken-2" type="submit" value="Register">
      </form>  
          </td>
        </tr>
      </table>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8">

      </div>


    </div>

</div>


{% endblock %}
