{% extends "elearning/base.html" %}
{% load humanize %}
{% load static %}

  {% block content %}


 <div class="container">
   
<div class="row">

{% for userprofile in object_list %}
    <div class="col-lg-5">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object dp img-circle" src="{% static object.userpicture %}" style="width: 100px;height:100px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                
              <a href="{% url 'elearning:userprofile_detail' course.author.profile.slug %}">
                              {{ course.author.profile.fullname }}
              </a>
                  
                <small> India</small></h4>
                <h5>{{userprofile.bio}} <a href="http://gridle.in">Gridle.in</a></h5>
                <hr style="margin:8px auto">

                <span class="label label-default">{{userprofile.address}}</span>
                <span class="label label-default">{{userprofile.mobile}}</span>
            </div>
        </div>

    </div>

    {% endfor %}

</div>

 </div>
{% endblock %}