{% extends "elearning/base.html" %}
{% load humanize %}
{% load staticfiles %}


  {% block content %}

 <style>
 	   .media
    {
        /*box-shadow:0px 0px 4px -2px #000;*/
        margin: 20px 0;
        padding:30px;
    }
    .dp
    {
        border:10px solid #eee;
        transition: all 0.2s ease-in-out;
    }
    .dp:hover
    {
        border:2px solid #eee;
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);  
        -webkit-transform:rotate(360deg);  
        /*-webkit-font-smoothing:antialiased;*/
    }
    .fa-linkedin-square{
      display: block;
    }
    .fa-linkedin-square:hover{
      color: red;
    }

 </style>
 <div class="container">
 <div class="row text-center">
   
  <h1>My Profile</h1>
 </div>
   
<div class="row">
    <div class="col-lg-6 col-lg-offset-2">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object dp img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/guinslym/128.jpg" style="width: 100px;height:100px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ object.fullname}} <small> Haiti</small></h4>
                <h5>{{object.bio}} <a href="https://www.linkedin.com/in/guinsly-mondesir/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></h5>
                <hr style="margin:8px auto">

                <span class="label label-default">{{object.address}}</span>
                <span class="label label-default">{{object.mobile}}</span>
            </div>

{% if request.user == object.author  %}

                  <table class="table">
        <tr>
          <td>
                <form class="right" method="POST" action="{% url 'userprofile_delete' object.id %}">
         {% csrf_token %}<input class="btn btn-danger red darken-2" type="submit" value="DELETE">
      </form>  
          </td>
          <td>
             <a class="btn btn-primary right" href="{% url 'userprofile_update' object.id %}">Update</a>
          </td>
        </tr>
      </table>

{% endif %}



        </div>

    </div>

    

</div>
 </div>


{% endblock %}